
#define ReaderForeground	grey95
#define ReaderBackground	grey05
#define UbuntuGrey	grey30
#define UbuntuBurgundy	#300A24

#include ".Xresources.xterm"

! customize these for your screen size:
tree.VT100.geometry:		183x26
XTerm.VT100.geometry:		91x26
Xman.manualBrowser.geometry:	928x1028
Xman.help.geometry:		928x1028


htop.font:		-*-fixed-medium-*-*-*-18-*-*-*-*-*-*-*

less*foreground:	grey90
less*background:	UbuntuBurgundy
less*saveLines:		120
less*scrollBar:		False

man*foreground:		ReaderForeground
man*background:		ReaderBackground
man.fading:		0
man*scrollBar:		False

pandoc.foreground:	ReaderForeground
pandoc.background:	ReaderBackground
pandoc.hold:		True
pandoc.fading:		0
pandoc.font:		-*-fixed-medium-*-*-*-18-*-*-*-*-*-*-*

tree.scrollWithBuffer:	False
tree.saveLines:		65535

Xman*horizPane*foreground:	grey90
Xman*optionMenu*foreground:	grey90
Xman*sectionMenu*foreground:	grey90
Xman*horizPane*background:	UbuntuGrey
Xman*optionMenu*background:	UbuntuGrey
Xman*sectionMenu*background:	UbuntuGrey

Xman*directoryFontNormal:	-*-fixed-medium-*-*-*-18-*-*-*-*-*-*-*
Xman*manualFontNormal:		-*-fixed-medium-*-*-*-20-*-*-*-*-*-*-*
Xman*manualFontBold:		-*-fixed-bold-*-*-*-20-*-*-*-*-*-*-*
Xman*manualFontItalic:		-*-fixed-medium-o-*-*-20-*-*-*-*-*-*-*
Xman*topBox:			False
